{% extends 'base.html' %}
{% block page %}
<center><h2>Power Boost Card</h2></center>
<form style="width: 300px; margin: 0 auto;">
Name: <input name="name"><br>
Image: <input type='file'><br><br>
<table style="margin: 0 auto;">
<thead><tr><th>Category</th><th>Type</th><th>Value</th></tr></thead>
<tbody>
<tr>
	<td>Requires</td>
	<td><select name="requiredType">{% include 'utils/powers.html' %}</select></td>
	<td><select name="requiredValue">{% include 'utils/values.html' %}</select></td>
</tr>
<tr>
	<td>Boosts</td>
	<td><select name="boostType">{% include 'utils/powers.html' %}</select></td>
	<td><select name="boostValue">{% include 'utils/values.html' %}</select></td>
</tr>
</tbody>
</table>
<br>
<center><input type='submit'></center>
</form>
{% endblock %}